body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

#contact_modal {
    display: none;
}
/* HEADER */

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* SECTION PHOTOGRAPH-HEADER */
#photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}
#photograph-header article{
    width: auto;
}
#photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#photograph-header h2 {
    color: #d3573c;
    font-size: 64px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 400;
}
#photograph-header h3 {
    font-size: 24px;
    color: #901C1C;
    font-weight: 400;
}
#photograph-header h4 {
    font-size: 18px;
    font-weight: 400;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover,.contact_button:focus {
    background-color: #d3573c;
}

/* SECTION TRIER */

#filter{
    display: flex;
    position: absolute;
    margin-top: 40px;

}

label{
    font-size: 18px;
    font-weight: bold;
    margin-left: 100px;
    color:black;
}

nav{
    width: 170px;
    font-size: 18px;
    font-weight: 700;
    background-color: #901C1C;
    margin-left: 20px;
    color: white;
    border-radius:5px;
    cursor: pointer;
}
nav ul{
    list-style: none;  
}
nav li a {
    padding: 20px 35px 20px 0px;
}
nav li:hover .sousmenu{
    display: block;
}
.sousmenu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    padding-left: 0;
    display: none;
    margin-top: 15px;
    height: 100px;
}
.sousmenu a {
    margin-top: 25px;
}


/* SECTION DIV PHOTO */

.divphoto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 150px 100px;
}
.imgphoto{
    margin-bottom: 20px;
}
.divphoto article{
    height: 350px;
}
.imgarticle{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    color: #c4c4c4;
    object-fit: cover;
}
video{
    display: block;
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
h5{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    max-width: 290px;
    max-height: 30px;
    line-height: 25px;
    margin: 0;
}
.divspanheart{
    margin-right: 8px;
}
.quantityHeart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 350px;
}

.fa-heart{
    color: #901C1C;
    margin-left: 5px;
    cursor: pointer;
}
/* MODAL */
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

/* FORMULAIRE */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* LIGHTBOX */

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}
.lightbox__next,.lightbox__prev{
    background: url('assets/icons/chevron-right-solid.svg');
    height: 10px;
    color: black;
}
/* FOOTER  */
.divfooterinfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 3%;
    background-color:#DB8876;
    width: 376px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0;
    z-index: 500;
}
.divtotallikes{
    display: flex;
    align-items: center;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
}
.divfooterinfo .fa-heart{
    color: black;
}

/* responsive */

@media screen and (max-width:1280px) {
    #photograph-header h2 {
        font-size: 34px;   
    }
    .divphoto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
    }
}

@media screen and (max-width:1080px) {
    #photograph-header h4 {
        font-size: 14px;
    }
}

@media screen and (max-width:992px) {
    header {
        width: 100%;
    }
    #photograph-header {
        flex-direction: column-reverse;
        height: 500px;   
    }
}