body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

#contact_modal {
    display: none;
}
/* HEADER */

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* SECTION PHOTOGRAPH-HEADER */
#photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}
#photograph-header article{
    width: auto;
}
#photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#photograph-header h1 {
    color: #d3573c;
    font-size: 64px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 400;
}
#photograph-header h2 {
    font-size: 24px;
    color: #901C1C;
    font-weight: 400;
}
#photograph-header h3 {
    font-size: 18px;
    font-weight: 400;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover,.contact_button:focus {
    background-color: #d3573c;
}

/* SECTION TRIER */

#filter{
    display: flex;
    position: absolute;
    margin-top: 40px;

}

.trierpar {
    font-size: 18px;
    font-weight: bold;
    margin-left: 100px;
    color:black;
}
.divselect {
    position: relative;
    margin-left: 20px;
    width: 170px;
}
#select{
    display: block;
}
.newselect, #select {
    display: block;
    cursor: pointer;
    padding: 23px 20px 23px 30px;
}
.newselect , #select{

    background-color: #901C1C;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
/* radius de newSelect quand newMenu est ouvert */
.radius {
    border-radius: 5px 5px 0px 0px;
}
.newmenu {
    position: relative;
    padding: 2px 20px 15px 10px;
    border-radius: 0px 0px 5px 5px;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
/* ferme le newMenu */
.close {
    display: none;
}

 .popularite{
    padding: 10px 10px 10px 20px;
    border-bottom:2px solid white ;
    border-top:2px solid white ;
    cursor: pointer;
}
.titre,.date{
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}
/* fait pivoter le chevron */
.rotate {
    transform: rotate(180deg);
}
.fa-chevron-down {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    color: white;
    top: 26px;
    right: 30px;
  
}


/* SECTION DIV PHOTO */

#divphoto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    justify-items: center;
    margin: 150px auto;
}
/* article*/
.imgphoto{
    margin-bottom: 20px;
}
#divphoto article{
    height: 350px;
}
.imgarticle{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    color: #c4c4c4;
    object-fit: cover;
}
video{
    display: block;
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
h6{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    max-width: 290px;
    max-height: 30px;
    line-height: 25px;
    margin: 0;
}
.divspanheart{
    margin-right: 8px;
}
.quantityHeart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 350px;
}

.fa-heart{
    color: #901C1C;
    margin-left: 5px;
    cursor: pointer;
}
/* MODAL */
#contact_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
    z-index: 12;
}
.modal {
    position: absolute;
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    top: 1%;
    left: 25%;
    right: auto;
  
}

.modal header {
    display: grid;
    grid-template-columns: 80% 1fr;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    margin-left: 70%;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}
.namephotograph {
    font-size: 64px;
}

/* FORMULAIRE */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 16px;
}

form input {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 38px;
}

#your_message {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
form p {
    font-size: 16px;
    color: black;    
}

/* LIGHTBOX */

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    animation: lightboxIn .5s;
}
.show {
    display: initial;
}
.lightbox button {
    border: none;
    z-index: 11;
    position: fixed;
    cursor: pointer;
  
}
.lightbox__next, .lightbox__prev{

 font-size: 50px;
 color: #901C1C;
 cursor: pointer;
    
}
.lightbox__prev {
    margin-left: 30px;
}
.lightbox__next {
    margin-right: 30px;
}

.lightbox__close {
    background: url(/assets/icons/close.svg) center center / 32px 32px no-repeat;
    height: 32px;
    width: 32px;
    top: 5px;
    right: 0.5%;
}
.lightbox__container {
    display: flex;
    align-items: center;
}
.mediacontent {
    text-align: center;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    
}
.lightbox__container img , .lightbox__container video{
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
    margin:80px auto 10px;
    animation: lightboxIn 1.3s;
}

.titlemedia {
    font-size: 24px;
    width: 400px;
    color: #901C1C;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0;
}
@keyframes lightboxIn {
    0% {opacity: 0;}
    30%{opacity: 0.4;}
    100% {opacity: 1;}
}
/* FOOTER  */
.divfooterinfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 3%;
    background-color:#DB8876;
    width: 376px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0;
    z-index: 9;
}
.divtotallikes{
    display: flex;
    align-items: center;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
}
.divfooterinfo  .fa-heart, .totalnumber{
    color: black;
}
.totalnumber {
    font-size: 24px;
}
.textpriceday {
    font-size: 24px;
}

/* responsive */

@media screen and (max-width:1280px) {
    #photograph-header h2 {
        font-size: 34px;   
    }
    #divphoto{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        align-items: center;
    }
    .modal {
        left: 20%;
    }
    .lightbox__container img {
        width: 80%;
    }
    .lightbox__container video {
        height: 70%;
     }
}

@media screen and (max-width:1080px) {
    #photograph-header h4 {
        font-size: 14px;
    }
    .modal {
        left: 15%;
    }
    .lightbox__container img {
        width: 70%;
    }
    .lightbox__container video {
        height: 50%;
        margin-top: 200px;
     }
  
}

@media screen and (max-width:992px) {
    header {
        width: 100%;
    }
    #photograph-header {
        flex-direction: column-reverse;
        height: 500px;   
    }
    #divphoto {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .imagephoto {
        width: 300px;
    }
    .modal {
        width: 500px;
    }
    .modal header h2, .namephotograph{
        font-size: 38px;
    }
    .lightbox__container img ,.lightbox__container video{
        height: 50%;
        margin-top: 210px;
    }



}

@media screen and (max-width:768px) {
    .modal {
        left: 7%;
        width: 350px;
    }

    form label {
        font-size: 28px;
    }
    .modal header img {
        height: 25px;
    }
    .lightbox__container img ,.lightbox__container video{
        height: 30%;
        margin-top: 310px;
    }
}
@media screen and (max-width:540px) {
    .trierpar {
        margin-left: 50px;
    }
    .modal {
        left: 2%;
        width: 280px;
        height: 75%;
    }
    .modal header h2 {
        font-size: 30px;
    }
    .lightbox__container video {
        height: 20%;
        margin-top: 330px;
    }    
}